/*
!/.zshrc
!/.screenrc
!/.fonts.conf
!/.emacs.d/
/.emacs.d/backups/
/.emacs.d/places
/.emacs.d/auto-save-list/
/.emacs.d/elpa/
/.emacs.d/url/
/.emacs.d/site-start.d/custom/
/.emacs.d/ac-comphist.dat
/.emacs.d/tramp
/.emacs.d/session*
