[submodule ".emacs.d/site-start.d/gist"]
  path = .emacs.d/site-start.d/gist
  url = git://github.com/defunkt/gist.el.git
[submodule ".emacs.d/site-start.d/twittering-mode"]
	path = .emacs.d/site-start.d/twittering-mode
	url = https://github.com/hayamiz/twittering-mode.git
